@import "../../styles/common/variables";

.joinUs {
  padding-top: 65px;
  padding-bottom: 69px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 76px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 126px;
    padding-bottom: 125px;
  }
}

.joinUs__wrap {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.joinUs__descriptionBlockWrap {
  margin-bottom: 32px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    margin-bottom: 56px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 538px;

    margin-bottom: 0;
    margin-right: 66px;
  }
}

.features__subTitleWrap {
  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
  }
}

.joinUs__description {
  line-height: normal;    
  width: 100%;

  @media screen and (min-width: $tablet) {
    min-width: 598px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 538px;
    margin-bottom: 16px;
  }
}

.joinUs__image {
  display: none;

  padding-top: 17px;
  padding-bottom: 17px;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}
