@import "../../../styles/variables";

.form {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 16px 16px;

  border: 1px solid $accentBlueColor;

  @media screen and (min-width: $tablet) {
    padding: 55px 40px;
  }
}

.field__container {
  margin-bottom: 16px;
  height: 68px;
}

.form__buttonWrap {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $tablet) {
      justify-content: start;
    }
}

.field__error {
  font-size: 13px;
  letter-spacing: 0.26px;
  line-height: 1, 85;
  color: $warrningRoseColor;
}
