@import "../../../styles/common/variables";
@import "../../../styles/plugins/keyframes";

.form {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 24px 16px;

  border: 1px solid $accentBlueColor;

  @media screen and (min-width: $tablet) {
    padding: 55px 40px;
  }
}

.field__container {
  margin-bottom: 16px;
  height: 68px;
}

.form__buttonWrap {
  display: flex;
  flex-direction: column;
  

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: start;
  }
}

.field__error {
  font-size: 13px;
  letter-spacing: 0.01625rem;
  line-height: 1, 85;
  color: $warrningRoseColor;
  animation: errorAnimation 0.3s ease-in-out forwards;
}
