@import "../../../styles/common/variables";

.social {
  display: flex;
  justify-content: center;

  padding: 12px 0;

  @media screen and (min-width: $tablet) {
    padding: 34px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 34px 116px;
  }
}
