@import "../../styles/common/variables";
@import "../../styles/plugins/keyframes";

.hero {
  position: relative;
  padding-top: 68px;
  padding-bottom: 127px;

  @media screen and (min-width: $tablet) {
    padding-top: 79px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 11px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $accentBlueColor;
      z-index: 2;
    }

    &:before {
      top: 79px;
      left: 0;
    }

    &:after {
      top: 390px;
      left: 0;
    }
  }
}

.hero__wrap {
  display: grid;

  grid-template-areas:
    "imageList"
    "title"
    "description";
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media screen and (min-width: $desktop) {
    grid-template-areas:
      "description imageList"
      "title title";

    grid-template-columns: 744px auto;
    grid-template-rows: auto;
  }
}

.hero__list {
  grid-area: imageList;

  display: flex;

  @media screen and (max-width: $mobileEnd) {
    margin-bottom: 16px;
  }
}

.hero__title {
  border: none;
}

.hero__titleContainer {
  grid-area: title;
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: $mobileEnd) {
    margin-bottom: 16px;
  }
}

.hero__descriptionContainer {
  grid-area: description;
}

.hero__description {
  @media screen and (min-width: $desktop) {
    padding: 159px 70px 56px 24px;
  }
}
