@import "../../styles/variables";

.hero {
  padding-top: 70px;

  display: grid;

  grid-template-areas:
    "imageList"
    "title"
    "description";
  grid-template-columns: 1fr;
  // grid-template-rows: auto;

  @media screen and (min-width: $desktop) {
    grid-template-areas:
      "description imageList"
      "title title";
     
    grid-template-columns: 1fr 1fr;
  }
}







.hero__list {
  grid-area: imageList;
  
  
  display: flex;
  position: relative;

  @media screen and (min-width: $desktop) {
    width: 466px;
    
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: $accentBlueColor;
      z-index: 999;
    }

    &:before {
      top: 0;
      left: -50vw;
    }

    &:after {
      bottom: 0;
      left: -50vw;
    }
  }
}

.hero__itemLeft,
.hero__itemRight {
  position: relative;
  flex-basis: 50%;

  border: 1px solid $accentBlueColor;
  &:not(:last-child) {
    border-right: none;
  }

  @media screen and (min-width: $desktop) {
    border-bottom: none;
    border-top: none;
    height: 311px;
  }
}

.hero_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: changeImage 10s linear infinite;

  
  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 2s;
  }

  &:nth-child(3) {
    animation-delay: 4s;
  }

  &:nth-child(4) {
    animation-delay: 6s;
  }

  &:nth-child(5) {
    animation-delay: 8s;
  }
}

@keyframes changeImage {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.hero__itemLeft::before,
.hero__itemRight::before {
  content: "";
  display: block;
  padding-top: 191%;
  @media screen and (min-width: $tablet) {
    padding-top: 87%;
  }
  // @media screen and (min-width: $desktop) {
  //   padding-top: 73%;
  // }
}

// .hero__title {
//   border: none;
// }

.hero__titleContainer {
  grid-area: title;
  width: 100%;
  overflow: hidden;
}

.hero__description {
  grid-area: description;

  @media screen and (min-width: $desktop) {
    // padding: 159px 70px 56px 24px;
  }
}

