@import "../../styles/common/variables";
@import "../../styles/plugins/keyframes";

.hero {
  position: relative;
  padding-top: 67px;

  @media screen and (min-width: $tablet) {
    padding-top: 79px;
  }

  @media screen and (min-width: $desktop) {
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $accentBlueColor;
      z-index: 2;
    }

    &:before {
      top: 79px;
      left: 0;
    }

    &:after {
      top: 390px;
      left: 0;
    }
  }
}

.hero__wrap {
  // position: relative;

  @media screen and (min-width: $desktop) {
    //  display: flex;
    //  flex-wrap: wrap;
  }

  display: grid;

  grid-template-areas:
    "imageList"
    "title"
    "description";
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media screen and (min-width: $desktop) {
    grid-template-areas:
      "description imageList"
      "title title";

    grid-template-columns: 744px auto;
    grid-template-rows: auto;
  }
}

.hero__list {
  grid-area: imageList;

  display: flex;

  @media screen and (min-width: $desktop) {
    // order: 2;
    // flex-basis: 38.83%;
  }
}

.hero__item {
  position: relative;
  flex-basis: 50%;

  border: 1px solid $accentBlueColor;
  &:not(:last-child) {
    border-right: none;
  }

  @media screen and (min-width: $desktop) {
    border-bottom: none;
    border-top: none;
    height: 311px;
  }
}

.hero_image,
.hero_image {
  width: 100%;
  height: 100%;
  min-height: 311px;
  object-fit: cover;
}

.hero_imageContainerLeft,
.hero_imageContainerRight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: changeImage 20s linear infinite;
}

.hero_imageContainerLeft {
  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 4s;
  }

  &:nth-child(3) {
    animation-delay: 8s;
  }

  &:nth-child(4) {
    animation-delay: 12s;
  }

  &:nth-child(5) {
    animation-delay: 16s;
  }
}

.hero_imageContainerRight {
  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 5s;
  }

  &:nth-child(3) {
    animation-delay: 9s;
  }

  &:nth-child(4) {
    animation-delay: 13s;
  }

  &:nth-child(5) {
    animation-delay: 17s;
  }
}

.hero__item::before {
  content: "";
  display: block;
  padding-top: 191%;
  @media screen and (min-width: $tablet) {
    padding-top: 87%;
  }
  // @media screen and (min-width: $desktop) {
  //   padding-top: 73%;
  // }
}

.hero__title {
  border: none;
}

.hero__titleContainer {
  // position: relative;
  grid-area: title;
  width: 100%;
  overflow: hidden;
  @media screen and (min-width: $desktop) {
    // padding-top: 420px;
  }
}

.hero__descriptionContainer {
  grid-area: description;
}

.hero__description {
  @media screen and (min-width: $desktop) {
    padding: 159px 70px 56px 24px;
  }
}
