@import "../../../styles/common/variables";
@import "../../../styles/plugins/keyframes";

.button {
  position: absolute;
  bottom: 50px;
  right: 140px;
  opacity: 0;
  border: 2px solid $whiteColor;
  border-radius: 50%;
  background-color: transparent;
  width: 100px;
  height: 100px;
  cursor: pointer;
  animation: showContent 2s 3s ease-in-out forwards;
  transition: transform $animation;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    scale: 1.04;
  }
}

button:disabled {
  cursor: not-allowed;
}

.button__arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  border-bottom: 2px solid $whiteColor;
  border-right: 2px solid $whiteColor;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
}

.arrowOne {
  top: 35%;
  left: 50%;
  animation: arrowAnimation1 2s 3.7s ease-in-out infinite;
}

.arrowTwo {
  top: 45%;
  left: 50%;
  animation: commonArrowAnimation 2s 3.9s ease-in-out infinite;
}

.arrowThree {
  top: 55%;
  left: 50%;
  animation: commonArrowAnimation 2s 4.1s ease-in-out infinite;
}
