@import "../../../styles/common/variables";
@import "../../../styles/plugins/keyframes";

.field__container {
  position: relative;
  margin-bottom: 16px;
  height: 68px;

  &::before {
    content: "*";
    position: absolute;
    color: $warrningRoseColor;
    top: 8px;
    left: 0;
    font-size: 16px;
  }
}

.field__input {
  width: 100%;
  padding: 8px 0 14px 30px;
  margin-bottom: 4px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid $whiteColor;

  color: $whiteColor;

  // font-family: $bodyFont;
  // letter-spacing: -0.28px;

  transition: border-color $animation;

  &::placeholder {
    color: $lightGreyColor;
  }

  &:hover,
  &:focus {
    border-color: $accentBlueColor;
    outline: none;
  }
}

.field__error {
  font-size: 13px;
  letter-spacing: 0.26px;
  line-height: 1, 85;
  color: $warrningRoseColor;
  animation: errorAnimation 0.3s ease-in-out forwards;
}

.error {
  border-color: $warrningRoseColor;
}

.success {
  border-color: $successGreenColor;
}

