@import "../../../styles/variables";

.form__toggle {
    position: absolute;
    top: 8px;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  
    transition: border-color $animation;
  
    &:hover {
      scale: 1.1;
    }
  }
  
  .form__toggle::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../../../images/eyeClosed.svg");
    
  }
  
  .form__toggle.open::after {
    background: url("../../../images/eyeOpened.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }