html {
  scroll-behavior: smooth;
}

body {
  background-color: $backgroundColor;
  font-family: $bodyFont;
  color: $lightGreyColor;
  letter-spacing: -0.28px;

  font-size: $bodyMobileFontsize;

  @media screen and (min-width: $tablet) {
    font-size: $bodyTabletFontsize;
    letter-spacing: -0.32px;
  }

  @media screen and (min-width: $desktop) {
    font-size: $bodyDesktopFontsize;
  }
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
