$whiteColor: #ffffff;
$blackColor: #000000;
$accentBlueColor: #204ffe;
$darkGreyColor: #2f2f2f;
$lightGreyColor: #b3b3b3;
$backgroundColor: #060412;
$warrningRoseColor: #eb3795;
$successGreenColor: #18f20d;
$accentRowColor: #080B27;

$buttonColor: rgba(39, 42, 46, 1);
$buttonHoverColor: rgba(39, 42, 46, 0.9);

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$bodyFont: "Roboto Mono", sans-serif;
$titleSubtitleFont: "Kanit", sans-serif;
$normalWeight: 400;
$mediumWeight: 500;

$letterSpacingMobile: -0.0175rem;
$letterSpacingTablet: -0.02rem;
$letterSpacingDesktop: -0.0225rem;

$bodyMobileFontsize: 0.875rem; //14px;
$bodyTabletFontsize: 1rem; //16px;
$bodyDesktopFontsize: 1.125rem; //18px;

$subtitleMobileFontsize: 1rem; //16px;
$subtitleTabletFontsize: 1.25rem; //20px;
$subtitleDesktopFontsize: 1.5rem; //24px;

$titleMobileFontsize:  3rem; //48px;
$titleTabletFontsize: 7rem; //112px;
$titleDesktopFontsize: 8.75rem; //140px;

$titleHeroMobileFontsize: 7.5rem; //120px;
$titleHeroTabletFontsize: 17.5rem; //280px;
$titleHeroDesktopFontsize: 21.25rem; //340px;

$mobile: 375px;
$mobileEnd: 743px;
$tablet: 744px;
$tabletEnd: 1439px;
$desktop: 1440px;
