$whiteColor: #ffffff;
$blackColor: #000000;
$accentBlueColor: #204ffe;
$darkGreyColor: #2f2f2f;
$lightGreyColor: #b3b3b3;
$backgroundColor: #060412;
$warrningRoseColor: #eb3795;
$successGreenColor: #18f20d;

$buttonColor: rgba(39, 42, 46, 1);
$buttonHoverColor: rgba(39, 42, 46, 0.9);

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$bodyFont: "Roboto Mono", sans-serif;
$titleSubtitleFont: "Kanit", sans-serif;
$normalWeight: 400;
$mediumWeight: 500;

$bodyMobileFontsize: 14px;
$bodyTabletFontsize: 16px;
$bodyDesktopFontsize: 18px;

$subtitleMobileFontsize: 16px;
$subtitleTabletFontsize: 20px;
$subtitleDesktopFontsize: 24px;

$titleMobileFontsize: 48px;
$titleTabletFontsize: 112px;
$titleDesktopFontsize: 140px;

$titleHeroMobileFontsize: 120px;

$mobile: 375px;
$mobileEnd: 743px;
$tablet: 744px;
$tabletEnd: 1439px;
$desktop: 1440px;
