$white-color: #FFFFFF;
$black-color: #000000;
$accent-blue-color: #09237E;
$dark-grey-color: #2F2F2F;
$light-grey-color: #B3B3B3;
$background-color: #060412;
$warrning-rose-color: #EB3795;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$body-font:  "Roboto Mono", sans-serif;
$title-subtitle-font:  'Kanit', sans-serif;
$medium-weight: 500;

$body-mobile-fontsize:  14px;
$body-tablet-fontsize:  16px;
$body-desktop-fontsize:  18px;

$subtitle-mobile-fontsize:  18px;
$subtitle-tablet-fontsize:  20px;
$subtitle-desktop-fontsize:  24px;

$title-mobile-fontsize:  48px;
$title-tablet-fontsize:  112px;
$title-desktop-fontsize:  140px;
