@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-Regular.ttf");
}

@font-face {
    font-family: "Roboto Mono"; 
    src: url("../fonts/RobotoMono-Regular.ttf");
}

@import "./common/variables";
@import "./common/mixins";
@import "./common/global";
@import "./common/mainFontSize";
@import "./common/container";
@import "./common/titles";
@import "./common/mainLinkButton";
