@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Roboto+Mono&display=swap');


@import './_variables';
@import './_global';

// @import "../components/RegistrationForm/RegistrationForm.module.scss";
