@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap');


@import './common/variables';
@import './common/mixins';
@import './common/global';
@import './common/mainFontSize';
@import './common/container';
@import './common/titles';
@import './common/mainLinkButton';

