@import "../../styles/common/variables";
@import "../../styles/plugins/keyframes";

.animation {
  @media screen and (min-width: $mobile) and (max-width: $tabletEnd) {
    display: none;
  }

  overflow: hidden;
  height: 740px;
}

.animation__wrap {
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animation__backgroundGradient {
  position: absolute;
  bottom: 0;
  left: 120px;
  width: 1200px;
  height: 70%;
  filter: blur(36.5px);

  background: radial-gradient(
    circle at bottom center,
    $accentBlueColor,
    $backgroundColor
  );
  background-size: 100% 200%;
}

.animantion__wrapTitle {
  padding: 235px 100px;
  
  border-radius: 50%;
  border: 4px solid $accentBlueColor;
  animation: showContent 3s 0.5s ease-in forwards;
  opacity: 0;
  z-index: 19;
}

.animation__title,
.animantion__subTitle {
  font-family: "Swis721 BT";
  color: $whiteColor;
  text-transform: uppercase;
  text-align: center;
}

.animation__subTitle {
  margin-bottom: 20px;

  line-height: 1.4;
  font-size: 24px;
}

.animation__title {
  font-size: 64px;
  line-height: 1.25;
}

.buttonWrap {
  position: absolute;
  bottom: 50px;
  right: 140px;
}

.animation__circle {
  width: 200px;
  height: 100px;
  border: 3px solid $accentBlueColor;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
}

.animation__circleOne {
  animation: commonMoveCircle 3s ease-in;
}

.animation__circleTwo {
  animation: commonMoveCircle 3s 0.2s ease-in;
}

.animation__circleThree {
  animation: commonMoveCircle 3s 0.4s ease-in;
}

.animation__circleFour {
  animation: commonMoveCircle 3s 0.6s ease-in;
}

.animation__circleFive {
  animation: commonMoveCircle 3s 0.8s ease-in;
}

.animation__circleSix {
  width: 100px;
  height: 200px;
  animation: moveCircleSix 4s 1s ease-in;
}

.animation__backgroundGradient::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  width: 400px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(-50%) translateX(-20%);
  filter: blur(70px);
  background: rgba($color: $accentBlueColor, $alpha: 0.5);
  animation: backgroundShine 6s 3.5s ease-in infinite;
}

.animation__backgroundGradient::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  width: 400px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(-50%) translateX(-20%);
  filter: blur(70px);
  background: rgba($color: $accentBlueColor, $alpha: 0.5);
  animation: backgroundShine 10s 6.5s ease-in infinite;
}
