@import "../../../styles/common/variables";
@import "../../../styles/plugins/keyframes";
@import "../../../styles/common/mixins";

.hero__item {
  position: relative;
  flex-basis: 50%;

  border: 1px solid $accentBlueColor;
  &:not(:last-child) {
    border-right: none;
  }

  @media screen and (min-width: $desktop) {
    border-bottom: none;
    border-top: none;
    height: 311px;
  }
}

.hero_image,
.hero_image {
  width: 100%;
  height: 100%;
  min-height: 311px;
  object-fit: cover;
}

.hero_imageContainerLeft,
.hero_imageContainerRight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: changeImage 20s linear infinite;
}

.hero_imageContainerLeft {
  @include animateHeroDelay("&", 5, 0, 4);
}

.hero_imageContainerRight {
  @include animateHeroDelay("&", 5, 0, 5);
}

.hero__item::before {
  content: "";
  display: block;
  padding-top: 191%;

  @media screen and (min-width: $tablet) {
    padding-top: 87%;
  }
}
