html {
  scroll-behavior: smooth;
  @include custom-scrollbar;
}

body {
  background-color: $backgroundColor;
}

h1,
h2,
h3,
h4,
p,
ul,
td,
tr {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
svg {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

