html {
  @include custom-scrollbar;
  // scroll-behavior: smooth;
  // &::-webkit-scrollbar {
  //   width: 8px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: $accentBlueColor;
  //   border-radius: 4px;
  // }

  // &::-webkit-scrollbar-track {
  //   background-color: $backgroundColor;
  // }

  // scrollbar-color: $accentBlueColor $backgroundColor;
  // scrollbar-width: thin;
}

body {
  background-color: $backgroundColor;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
svg {
  display: block;
  // max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

td,
tr {
  padding: 0;
  margin: 0;
}
