.linkButton {
    position: relative;
  
    color: $whiteColor;
    font-family: $bodyFont;
    font-weight: $mediumWeight;
    font-size: $bodyMobileFontsize;
    line-height: 1.71;
    letter-spacing: 0.0175rem;
   
  
    text-transform: uppercase;
  
    cursor: pointer;
  
    background-color: $buttonColor;
    border: none;
  
    transition: background-color $animation;
  
    &:hover {
      background-color: $buttonHoverColor;
    }

    @media screen and (min-width: $tablet) {
      font-size: $bodyTabletFontsize;
      line-height: 1.5;
      letter-spacing: 0.02rem;
    }
  }