.linkButton {
    position: relative;
  
    color: $whiteColor;
    font-family: $bodyFont;
    font-size: $bodyTabletFontsize;
    font-weight: $mediumWeight;
    line-height: 1.5;
    letter-spacing: 0.02rem;
  
    text-transform: uppercase;
  
    cursor: pointer;
  
    background-color: $buttonColor;
    border: none;
  
    transition: background-color $animation;
  
    &:hover {
      background-color: $buttonHoverColor;
    }
  }