@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accentBlueColor;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $backgroundColor;
  }

  scrollbar-color: $accentBlueColor $backgroundColor;
  scrollbar-width: thin;
}

@mixin visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

@mixin animateHeroDelay($selector, $count, $delayStart, $delayIncrement) {
  #{$selector} {
    @for $i from 1 through $count {
      &:nth-child(#{$i}) {
        animation-delay: #{$delayStart + ($i - 1) * $delayIncrement}s;
      }
    }
  }
}