@import "/src/styles/variables";

.featureCard {
  display: flex;

  border: 1px solid $accentBlueColor;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 32px) / 3);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 80px) / 3);
  }
  // &:not(:last-child) {
  //     margin-bottom: 24px;
  // }
}

.featureCard__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.featureCard__wrap {
  position: relative;
  // flex: 1;
  padding: 16px 16px 24px 16px;

  @media screen and (min-width: $tablet) {
    padding: 16px;
  }

  @media screen and (min-width: $desktop) {
    padding: 24px;
  }
}

.featureCard__img {
  // object-fit: cover;
  width: 100%;
  height: auto;
  


  // @media screen and (min-width: $mobile) {
  //   height: auto;
  // }

  // @media screen and (min-width: $tablet) {
  //   // height: 240px;
  //   // height: auto;
  // }

  // @media screen and (min-width: $desktop) {
  //   // height: 307px;
  // }
}

.featureCard__descriptionWrap {
  flex: 1;
}

.featureCard__description {
  flex: 1;
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
  }
}

.featureCard__linkWrap {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  // align-self: flex-end;
}
