@import "../../styles/common/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $backgroundColor;
  z-index: 999;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
  @media screen and (min-width: $tablet) {
    padding: 15px 0;
  }
}

.header__linkLogo {
  display: inline-block;
  padding: 10px 0;
}
