@import "../../../styles/variables";

.form__button {
    padding: 11px 93px 13px 126px;
  
    @media screen and (min-width: $tablet) {
      width: auto;
      padding-left: 89px;
      padding-right: 75px;
    }
  }
  
  .form__button::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.5px;
    top: 50%;
    left: 89px;
    background: $whiteColor;
  
    @media screen and (min-width: $tablet) {
      left: 54px;
    }
  }