@import "../../styles/common/variables";

.features {
  padding-top: 21px;
  padding-bottom: 25px;

  @media screen and (min-width: $desktop) {
    padding-top: 126px;
    padding-bottom: 65px;
  }
}

.features__descriptionWrap {
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    display: flex;

    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 90px;
  }
}

.features__subTitleWrap {
  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 36px) / 3);
    margin-bottom: 0;
    margin-right: 15px;

    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: end;

      width: calc((100% - 80px) / 3);
      margin-right: 24px;
    }
  }
}

.features__description {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 36px) / 3 * 2);
  }
  @media screen and (min-width: $desktop) {
    max-width: 601px;
  }
}
