@import "../../styles/variables";

.footer {
  border-top: 1px solid $accentBlueColor;
  padding-bottom: 52px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 0;
  }
}

.footer__wrap {
  display: grid;
  align-items: center;
  text-align: center;

  // @media screen and (min-width: $mobile) {
    grid-template-areas:
      "designer"
      "social"
      "rights";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  // }

  

  @media screen and (min-width: $tablet) {
    grid-template-areas:
      "designer social"
      "rights social";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  @media screen and (min-width: $desktop) {
    grid-template-areas: "designer social rights";
    grid-template-columns: 1fr 480px 1fr;
    grid-template-rows: auto;
  }
}

.footer__social {
  @media screen and (min-width: $tablet) {
    grid-area: social;
  }

  @media screen and (min-width: $desktop) {
    border-left: 1px solid $accentBlueColor;
    border-right: 1px solid $accentBlueColor;
  }
}

.footer__designer {
  grid-area: designer;
  @media screen and (min-width: $tablet) {
    text-align: start;
    align-self: self-end;
  }

  @media screen and (min-width: $desktop) {
    align-self: center;
  }
}

.footer__rights {
  grid-area: rights;
  @media screen and (min-width: $tablet) {
    text-align: start;
    align-self: self-start;
  }

  @media screen and (min-width: $desktop) {
    text-align: end;
    align-self: center;
  }
}
