@import "../../styles/variables";

.footer {
  border-top: 1px solid $accent-blue-color;
  padding-bottom: 52px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 0;
  }
}

.footer__wrap {
  display: grid;
  align-items: center;
  text-align: center;

  @media screen and (min-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.footer__social {
  @media screen and (min-width: $tablet) {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  @media screen and (min-width: $desktop) {
    grid-column: 2/3;
    border-left: 1px solid $accent-blue-color;
    border-right: 1px solid $accent-blue-color;
  }
}

.footer__designer {
  @media screen and (min-width: $tablet) {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: start;
    align-self: self-end;
  }

  @media screen and (min-width: $desktop) {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
  }
}

.footer__rights {
  @media screen and (min-width: $tablet) {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
    align-self: self-start;
  }

  @media screen and (min-width: $desktop) {
    grid-column: 3/4;
    grid-row: 1/3;
    text-align: end;
    align-self: center;
  }
}

