@import "../../../styles/common/variables";

.row {
  // display: grid;

  // padding: 16px 24px;

  // grid-template-areas:
  //   "name name price"
  //   "avatar level level"
  //   "avatar games games"
  //   "avatar win win";
  // grid-template-columns: 80px 1fr 1fr;
  // grid-template-rows: auto;

  // @media screen and (min-width: $tablet) {
  //   padding: 8px 0;

  //   grid-template-areas: "avatar name level games win price";

  //   grid-template-columns: 64px 1fr 16.7% 13% 13.4% 13.2%;
  //   grid-template-rows: auto;
  // }

  // @media screen and (min-width: $desktop) {
  //   grid-template-columns: 64px 1fr 15% 14.5% 14.2% 13.6%;
  //   grid-template-rows: auto;
  // }

  &:nth-child(odd) {
    background-color: $accentRowColor;
    border-bottom: 1px solid $accentBlueColor;
    border-top: 1px solid $accentBlueColor;
  }
}

.row__number {
  margin-right: 6px;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.row__cell {
  // display: flex;
  // justify-content: space-between;
  @media screen and (min-width: $tablet) {
    padding: 11px 16px;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    padding: 11px 24px;
  }
}

.row__cellLabel {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.row__img {
  min-width: 64px;
  min-height: 64px;
  border-radius: 50%;
}

.row__cellAvatar {
  grid-area: avatar;
}

.row__cellName,
.row__cellPrice {
  @media screen and (max-width: $mobileEnd) {
    font-family: $titleSubtitleFont;
    font-size: 1rem;
    font-weight: $mediumWeight;
    line-height: 1.4;
  }
}

.row__cellName {
  grid-area: name;
  justify-content: start;

  @media screen and (max-width: $mobileEnd) {
    margin-bottom: 16px;
  }
}

.row__cellLevel,
.row__cellGames,
.row__cellWin {
  @media screen and (max-width: $mobileEnd) {
    color: $lightGreyColor;
  }
}

.row__cellLevel {
  grid-area: level;
}

.row__cellGames {
  grid-area: games;
}
.row__cellWin {
  grid-area: win;
}

.row__cellPrice {
  grid-area: price;
  @media screen and (max-width: $mobileEnd) {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
