@import "../../../styles/common/variables";

.table {
  width: 100%;
  border-collapse: collapse;
  color: $whiteColor;
  border: none;
}

// .table__head {
//   @media screen and (max-width: $mobileEnd) {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     padding: 0;
//     margin: -1px;
//     overflow: hidden;
//     clip: rect(0, 0, 0, 0);
//     white-space: nowrap;
//     border: 0;
//   }

//   @media screen and (min-width: $tablet) and (max-width: $tabletEnd) {
//     vertical-align: top;
//   }
// }

.table__headRow {
  display: grid;

  @media screen and (min-width: $tablet) {
    grid-template-columns: 64px 1fr 16.7% 13% 13.4% 13.2%;
    grid-template-rows: auto;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: 64px 1fr 15% 14.5% 14.2% 13.6%;
    grid-template-rows: auto;
  }
}

.table__headCell {
  @media screen and (min-width: $tablet) {
    padding: 12px 16px;
  }

  @media screen and (min-width: $desktop) {
    padding: 12px 24px;
  }
}

.table__headAvatar {
  width: 64px;
}
