@import "../../../styles/common/variables";
@import "../../../styles/plugins/keyframes";

// .title {
//   display: flex;
//   justify-content: space-between;

//   padding-bottom: 10px;
//   border-bottom: 1px solid $whiteColor;

//   font-family: Kanit;
//   font-size: $titleMobileFontsize;
//   font-weight: $normalWeight;
//   color: $whiteColor;

//   @media screen and (min-width: $tablet) {
//     padding-bottom: 16px;

//     font-size: $titleTabletFontsize;
//     line-height: 1.25;
//   }

//   @media screen and (min-width: $desktop) {
//     font-size: $titleDesktopFontsize;
//     line-height: 1;
//   }
// }

.title {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid $whiteColor;

  // @media screen and (min-width: $tablet) {
  //   padding-bottom: 16px;
  // }

  // @media screen and (min-width: $desktop) {
  //   margin-bottom: 90px;
  // }
}

.hero {
  border: none;
}

.joinUs {
  margin-bottom: 27px;
}

.topNfts {
  margin-bottom: 32px;
}

.joinUs,
.topNfts {
  padding-bottom: 10px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 16px;
    margin-bottom: 56px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 90px;
  }
}

.features {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 56px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 96px;
  }
}

.title.featureCard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;

  margin-bottom: 16px;
  padding: 0;

  border: none;

  @media screen and (min-width: $tablet) {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row-reverse;
  }
}

.title.subTitle {
  padding: 0;
  margin: 0;
  border: none;
}

.featureCardText {
  margin-left: 16px;

  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 16px;
  }
}

.hero {
  display: inline-block;
  white-space: nowrap;
  animation: heroText 10s linear infinite normal;
  border: none;
}


