@import "../../../styles/common/variables";

a.header__link {
  padding: 10px 24px 10px 40px;
  line-height: normal;

  @media screen and (min-width: $tablet) {
    padding: 12px 66px 12px 89px;
  }
}

.header__linkTextWrap {
  display: inline-block;
  position: relative;
}

.header__linkTextWrap::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -16px;
  width: 16px;
  height: 16px;
  background-image: url("../../../images/arrow.svg");
}

.featureCard__link {
  padding: 12px 78px 12px 100px;

  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: 12px 29px 12px 46px;
  }

  @media screen and (min-width: $desktop) {
    padding: 12px 82px 12px 105px;
  }
}

.featureCard__linkTextWrap {
  position: relative;
  display: inline-block;
}

.featureCard__linkTextWrap::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -16px;
  width: 16px;
  height: 16px;
  background-image: url("../../../images/arrow.svg");

  @media screen and (min-width: $tablet) {
    width: 10px;
  }

  @media screen and (min-width: $desktop) {
    width: 16px;
  }
}
