@import "../../../styles/variables";

.header__link {
    display: inline-block;
    padding: 10px 24px 10px 40px; 
    
    font-size: $bodyMobileFontsize;
    line-height: normal;
    letter-spacing: 0.28px;
   
    // letter-spacing: 0.6px;

  
    @media screen and (min-width: $tablet) {
      padding: 12px 66px 12px 89px;
  
      font-size: $bodyTabletFontsize;
      text-transform: none;
      line-height: 1.5;
      
    }
  }

  .header__linkTextWrap {
    display: inline-block;
    position: relative;
  }

  .header__linkTextWrap::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -16px;
    width: 16px;
    height: 16px;
    background-image: url("../../../images/arrow.svg");
  
    // @media screen and (min-width: $tablet) {
    //   width: 16px;
    //   height: 16px;
    //   left: 66px;
    // }
  }


.featureCard__link {
    
    padding: 12px 78px 12px 100px;
    // padding-top: 12px;
    // padding-bottom: 12px;
    text-align: center;
    position: relative;
  
    @media screen and (min-width: $tablet) {
      padding: 12px 29px 12px 46px;
    }
  
    @media screen and (min-width: $desktop) {
      padding: 12px 82px 12px 105px;
    }
  }
  
  .featureCard__linkTextWrap {
    position: relative;
    display: inline-block;
  }

.featureCard__linkTextWrap::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -16px;
    width: 16px;
    height: 16px;
    background-image: url("../../../images/arrow.svg");
  
    @media screen and (min-width: $tablet) {
      width: 10px;
      // left: 29px;
    }
  
    @media screen and (min-width: $desktop) {
      width: 16px;
      // left: 83px;
    }
  }
  


